body {
  background-color: #FFFFE0;
}
.image{
    border: 2px solid red;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
#label_pred {
    border: 2px solid brown;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
.class_prediction {
    border: 2px solid brown;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
#image_load {
    border: 2px solid brown;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
#button_prediction {
    border: 2px solid brown;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}