<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Machine Learning - Home</title>
    <link rel="stylesheet" type="text/css" href="static/CSS/style.css">
</head>
<body>
<p> <b>Aplikacja API FLASK</b> służy do testowania (przewidywania, rozpoznawania) wytrenowanego modelu sieci neuronowej - CNN - klasyfikator obrazów 6 - klasowy.<br>
        Projekt machine learning  dotyczy klasyfikacji -  obrazów podzielonych na 6 klas-kategorii (buildings,
        forest, glacier, mountain, sea, street).
        <b>Zastosowana architektura</b> sieci neuronowej została zbudowana w konwencji sekwencyjnej.
          Model oparty na CNN (architektura i wagi) został zbudowany podczas treningu i zapisany do pliku.
          Na podstawie technologii Flask wykonano renderowanie 2 templates Jinja2, powstały 2 endpoints ("/", /predict).
</p>
<div class ="image">
    <img src="{{filename}}" alt="image">
</div>
<div class="class_prediction">
    <p>Predykcja domyślniego obrazu: <b>{{class_names}}</b></p>
</div>
<form action="{{ url_for('predict_image_file') }}" enctype="multipart/form-data" method="POST">
    <div id="image_load">
       <p>
            <label for="fimage"> Załaduj obraz:</label>
            <input type="file" id="fimage" name="uploaded-file" accept="image/jpg image/png" />
       </p>
    </div>
  <div id="button_prediction">
      <p>
            <label for="fpredict"> Wykonaj predykcję załadowanego obrazu:</label>
            <input type="submit" value="Predykcja" id="fpredict">
      </p>
  </div>
</form>
</body>
</html>