<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Machine Learning - Home</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
</head>
<body>
<p> <b>Flask API application</b> is used to test (predict, recognize) a trained neural network model - CNN - 6-class image classifier.<br>
       The machine learning project concerns classification - images divided into 6 classes-categories (buildings,
        forest, glacier, mountain, sea, street).
        <b>The neural network architecture</b> used was built in a sequential convention.
         The CNN-based model (architecture and weights) was built during training and saved to a file.
          Based on Flask technology, two  Jinja2 templates were rendered, two endpoints were created ("/", /predict).
</p>
<div class ="image">
    <img src="{{filename}}" alt="image">
</div>
<div class="class_prediction">
    <p>Default image prediction: <b>{{class_names}}</b></p>
</div>
<form action="{{ url_for('predict_image_file') }}" enctype="multipart/form-data" method="POST">
    <div id="image_load">
       <p>
            <label for="fimage"> Upload image:</label>
            <input type="file" id="fimage" name="uploaded-file" accept="image/jpg image/png" />
       </p>
    </div>
  <div id="button_prediction">
      <p>
            <label for="fpredict"> Predict the loaded image:</label>
            <input type="submit" value="Prediction" id="fpredict">
      </p>
  </div>
</form>
</body>
</html>